@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
/*my bits>*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
  flex-shrink: 1;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* my bits> */
.header, 
.content,
.footer{
  display: flex;
  flex-shrink: 1;
}

.header, 
.footer{
  justify-content: space-between;
}

ul{
  display: flex;
  gap: 15px;
  list-style: none;
  margin: 15px;
  padding: 0;
}

a{
  text-decoration: none;
  color: gray;
}

.content{
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.footer{
background-color: #eee;
}